// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
$fontMain: 'Inter', sans-serif;
$fontSecond: 'Lexend Deca', sans-serif;
// Colors
$mainBackground: hsl(233, 47%, 7%);
$cardBackground: hsl(244, 38%, 16%);
$mainAccent: hsl(277, 64%, 61%);
// Colors/Neutral
$nHeading: hsl(0, 0%, 100%);
$nParagraph: hsla(0, 0%, 100%, 0.75);
$nStatHeadings: hsla(0, 0%, 100%, 0.6);
 